# from: http://adaptivepatchwork.com/2012/03/01/mind-the-end-of-your-line/
# These files are text and should be normalized (convert crlf =&gt;  lf)

*.01		text
*.02		text
*.03		text
*.04		text
*.05		text
*.LST		text
*._hl7		text
*._res		text
*.analysis	text
*.awk		text
*.bas		text
*.c		text
*.cdtbuild	text
*.cdtproject	text
*.cfg		text
*.css		text
*.dat		text
*.def		text
*.depend	text
*.dist		text
*.doc		text
*.dot		text
*.exp		text
*.gdbm		text
*.h		text
*.hl7		text
*.htaccess	text
*.htm		text
*.html		text
*.in		text
*.java		text
*.js		text
*.json		text
*.l		text
*.login		text
*.map		text
*.md		text
*.md          	text
*.my		text
*.pack		text
*.pdb		text
*.php		text
*.pml		text
*.rc		text
*.rcp		text
*.res		text
*.sample	text
*.sed		text
*.sh		text
*.stackdump	text
*.tc		text
*.tcl		text
*.test		text
*.tk		text
*.tm_properties	text
*.txt		text
*.vbp		text
*.xml		text
*.xpml		text
*.xrd		text
*.xrw		text
*.xsl		text
*.y		text
*.yml		text
.cvsignore	text
.gitattributes	text
LICENSE		text
Makefile	text
Palmmake	text
README*		text
TESTING_INSTRUCTIONS text
htaccess	text
.htaccess	text
pml/graph/graphit text
vpml/build	text
vpml/run	text

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.GIF	  binary
*.ICO	  binary
*.bmp 	  binary
*.db	  binary
*.gif	  binary
*.ico	  binary
*.jpeg    binary
*.jpg	  binary
*.mdb	  binary
*.pdf	  binary
*.png     binary
*.sdf     binary
*.xpm	  binary
