@charset "utf-8";
/* CSS Document */

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

div#supportsystem {
	resize: both;
	/*width: 300px;
	height: 500px;*/
	border-style: groove;
	/*float: right;*/
	padding: 0px;
	background-color: #EFE7F6;  /*#F5F5F5 - #CC99FF*/ 
	overflow: scroll;
	position: relative;
}

#supportsystem ul.process {
	width: auto;
	overflow: visible;
	margin-top: 60px;
}

#supportsystem #process-header {
	background: #CCC;
	width: inherit;
	margin: 0px;
	padding: 0px;
	height: 50px;
}

#supportsystem h1 {
	font-size: 24px;
	padding: 10px;
	margin-top: 0px;
}

#supportsystem li a{
	margin-left: -50px;
	padding-left: 50px;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 10px;
}
	
#supportsystem li {
	list-style: none;
	margin-bottom: 9px;
	/*border-bottom: 1px dashed #666;*/
	white-space: nowrap;
}

#supportsystem ul.process {
	border: 1px dotted #666;
	margin-left: 10px;
	margin-top: 10px;
	background-color: #F1ECF6;
}

/*li span {
	height: 24px;
	display: inline-block;
	background-color: #09C;
}*/

#supportsystem ul {
	margin-top: 9px;
}

#supportsystem ul.process {
	margin-top: 0px;
}

#supportsystem li.action.ready {
	list-style: url(../images/ready.png);
}

#supportsystem li.action.available {
	list-style: url(../images/available.png);
}

#supportsystem li.action.blocked {
	list-style: url(../images/blocked.png);
}

#supportsystem li.action.none {
	list-style: url(../images/none.png);
}

#supportsystem li.action.done {
	list-style: url(../images/done.png);
}

#supportsystem li.iteration {
	list-style: url(../images/iteration-none.png);
}

#supportsystem li.iteration.ready {
	list-style: url(../images/iteration-ready.png);
}

#supportsystem li.iteration.available {
	list-style: url(../images/iteration-available.png);
}

#supportsystem li.iteration.blocked {
	list-style: url(../images/iteration-blocked.png);
}

#supportsystem li.iteration.none {
	list-style: url(../images/iteration-none.png);
}

#supportsystem li.branch {
	list-style: url(../images/branch-none.png);
}

#supportsystem li.branch.available {
	list-style: url(../images/branch-available.png);
}

#supportsystem li.branch.none {
	list-style: url(../images/branch-none.png);
}

#supportsystem li.selection {
	list-style: square;
}

#supportsystem li.sequence {
	list-style: disc;
}

#supportsystem li.action .actiondetails {
	border: 1px dashed #666;
	width: 300px;
	background-color: #F3F0F6;  /*#F5F5F5 - #CC99FF*/ 
	padding: 10px;
	margin-top: 10px;
	white-space: normal;
	font-size: 0.9em;
}

#supportsystem .actionButtons {
	margin-top: 20px;
}

#carepathways .actionButtons input {
	background-color: #E7D5F8;
}