*.cgi
*.dat
*.dot 
*.gif 
*.jpg 
*.map
core
core.*
create_testtable
dfZRuitU82fEY.dat
dfZRuitU82fEY.dat.xml
event.log
htaccess
output
peos_init.tcl
script_test.pml
script_test.res
state_test.pml
test.dat.xml

