*.dat
*.idx
*.o
*.pid
*.txt
.depend
PMLServer
core*
cscope.out
driver
event.log
file
kernel_wrapper
test_action
test_assertions
test_events
test_graph
test_graph_engine
test_list_actions_API
test_predicate_evaluator
test_process
test_process_table
test_resources
vm_harness
test.pml
test_peos_util
